*{margin: 0px;padding: 0px;}
body{font-family: "Times New Roman", Georgia, Serif;}
.nav_wraper{padding: 8px 16px;background-color: #fff;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);}
.text_logo{float: left;padding: 8px 16px;}
.nav_bar{float:right;padding: 8px 16px;}
.nav_wraper:before,.nav_wraper:after{content: "";display: block;clear: both;}
.nav_bar ul:before,.nav_bar ul:after{content: "";display: block;clear: both;}
.nav_bar ul li{float: left;list-style-type: none;}
.text_logo a{padding: 8px 16px;color: #000;font-size: 15px;text-decoration: none;letter-spacing:4px;line-height: 22.4px;}
.text_logo a:hover{background-color: #ccc;}
.nav_bar ul li a{padding: 8px 16px;color: #000;font-size: 15px;text-decoration: none;letter-spacing:4px;line-height: 22.4px;}
.nav_bar ul li a:hover{background-color: #ccc;}
.drop_down{display: none;}
.nav_bar ul li:hover .drop_down{display: block;position: absolute;}
.drop_down li a{display:block;}
